/****** Object:  StoredProcedure [dbo].[usp_Update_Qualifying_CreditScore]    Script Date: 3/24/2025 1:27:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************************************
--------------------------------------------------------------------------------------------------------------------------
--  Name			:  [dbo].[usp_Update_Qualifying_CreditScore]
--  Developer		:  Varun Kumar Reddy Mallu
--  Date Created	:  02/10/2025
--  Purpose			:  Updates the qualifying credit score for a loan recordid after running AUS.This Proc will fetch the 
                       Credit scores of all the borrowers from the credit_scores table and will calculate the Qualifying 
					   Credit score.
--  Dependency	    :
--------------------------------------------------------------------------------------------------------------------------
**************************************************************************************************************************
--                      M O D I F I C A T I O N     L O G
--------------------------------------------------------------------------------------------------------------------------
-- NAME				DATE			COMMENTS
-------------------------------------------------------------------------------------------------------------------------
-- VMallu			02/10/2025		
**************************************************************************************************************************/
CREATE PROCEDURE [dbo].[usp_Update_Qualifying_CreditScore]
(
    @Lenderdatabaseid INT,
    @LoanRecordid INT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @QualifyingCreditScore INT;
    DECLARE @OriginalCreditScore INT;
	DECLARE @CreditScoreChangedDate Datetime;

    DROP TABLE IF EXISTS #temp;
   /*
   This section will fetch the latest loan_comrequestid from creditreview_recentrequests,which provides 
   the most recent credit scores of all the active borrowers on the loan.
   */
    SELECT TOP 1 
     requestid, 
     loanrecordid,
     lenderdatabaseid,
     customerlenderdatabaseid,
     customerrecordid,
     joinedcustomerrecordid 
     INTO #temp 
     FROM [dbo].[creditreview_recentrequests] 
     WITH (NOLOCK)  
     WHERE lenderdatabaseid = @Lenderdatabaseid 
     AND loanrecordid = @LoanRecordid 
     ORDER BY requestid DESC;

    /* 
  This section retrieves the relevant credit scores for the active borrowers on the loan.
  We join the credit_scores table with the creditreview_recentrequests table to fetch
  the latest loan_comrequestid, which provides the most recent credit scores of all borrowers.
  We also join the customer_group table with creditreview_recentrequests to ensure we only list the scores of 
  borrowers who are part of the loan. This prevents including scores of deleted borrowers
  when calculating the Qualifying Credit Score.
   */
   WITH RankedScores
    AS (SELECT customer_id,
               credit_score,
               ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY credit_score) AS rn,
               COUNT(*) OVER (PARTITION BY customer_id) AS cnt
        FROM
        (
            SELECT DISTINCT
             cs.score AS credit_score,
             cs.customerid AS customer_id
             FROM #temp cr
             JOIN [dbo].[credit_scores] cs
             ON cr.requestid = cs.requestid
             LEFT JOIN [dbo].customer_group cg
             ON cr.customerlenderdatabaseid = cg.customerlenderdatabaseid
             AND cr.customerrecordid = cg.customerrecordid
             AND cr.joinedcustomerrecordid = cg.joinedcustomerid
             WHERE cr.lenderdatabaseid = @LenderDatabaseId
             AND cr.loanrecordid = @LoanRecordId
             AND cs.score > 0
             AND cs.modelname <> 'FICORiskScoreClassic98'
        ) AS AllScores )

    SELECT @QualifyingCreditScore = MIN(credit_score)
    FROM
    (
        SELECT customer_id,
               credit_score
        FROM RankedScores
        WHERE (
                  cnt = 1
                  AND rn = 1
              )
              OR
              (
                  cnt = 2
                  AND rn = 1
              )
              OR
              (
                  cnt = 3
                  AND rn = 2
              )
    ) AS MedianScores;

    --Get the Original Credit Score from loan_main
    SELECT @OriginalCreditScore = creditscore
    FROM dbo.loan_main
    WHERE lenderdatabaseid = @Lenderdatabaseid
          AND loanrecordid = @LoanRecordid;


    BEGIN TRY
        BEGIN TRANSACTION;
		/*
        Null check for Original Credit Score and Qualifying Credit Score
		Compare both the scores and execute the event if they are different
		*/
		IF (@QualifyingCreditScore IS NOT NULL)AND 
		   (@OriginalCreditScore !=  @QualifyingCreditScore)
		 BEGIN
              UPDATE dbo.loan_main
              SET creditscore = @QualifyingCreditScore
              WHERE lenderdatabaseid = @Lenderdatabaseid AND loanrecordid = @LoanRecordid;

			  EXEC dbo.[USFS_LoanCaptureEvent] @Lenderdatabaseid, @LoanRecordid, 'CRDUPD', 0;
		 END;


		    SELECT @CreditScoreChangedDate=MAX(capturedate) from USFS_CaptureEvent 
                                 where lenderdatabaseid=@Lenderdatabaseid 
                                 and loanrecordid=@LoanRecordid 
							     and capturetype='CRDUPD'

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
    END CATCH;

    /* 
   This statement retrieves the original credit score of the borrower. 
   If there has been a change in the credit score, the following additional 
   information will also be returned:
   - QualifyingCreditScore: The new credit score after any changes.
	*/	   
	  IF (@QualifyingCreditScore IS NOT NULL AND @OriginalCreditScore IS NOT NULL)
	   BEGIN
         SELECT @OriginalCreditScore AS OriginalCreditScore,
                @QualifyingCreditScore AS QualifyingCreditScore,
		        @CreditScoreChangedDate AS CreditScoreChangedDate
		END
END;
