USE ${instance-db}
go



GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*==============================================================================  
Name			:               BRWFIN.USFS_usp_Merge_LiabilitiesAutomation  
Date Created	:   03/27/2025  
Created By		:   Harveer Hans  
Purpose			:   Merge data into dbo.customer_Debt and dbo.loan_customerdebt table  
--------------------------------------------------------------------------------  
--      M O D I F I C A T I O N   L O G  
--------------------------------------------------------------------------------  
-- NAME					DATE			COMMENTS  
--------------------------------------------------------------------------------  
-- hhans				03/27/2024		Created  
================================================================================*/

CREATE PROCEDURE [BRWFIN].[USFS_usp_Merge_LiabilitiesAutomation]
    @p_LenderDatabaseID INT,
    @p_LoanRecordID INT,
    @p_LiabilityType AS [BRWFIN].[udtt_AutomateLiabilityType] READONLY
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN
        BEGIN TRY
            BEGIN TRAN;

            -------------------------------------------------------------------------------------------------------  
            -- UPDATE: customer_Debt:  
            -------------------------------------------------------------------------------------------------------    

            UPDATE cd
            SET payment = ISNULL(l.payment, cd.payment),
                balance = ISNULL(l.balance, cd.balance),
                debttype = ISNULL(l.debttype, cd.debttype)
            FROM dbo.customer_debt cd
                INNER JOIN @p_LiabilityType l
                    ON cd.debtldid = l.debtldid
                       AND cd.debtid = l.debtid;

            -------------------------------------------------------------------------------------------------------  
            -- UPDATE: loan_customerdebt:  
            -------------------------------------------------------------------------------------------------------    

            UPDATE lcd
            SET includepayment = ISNULL(l.IsIncludePayment, lcd.includepayment),
				includebalance = ISNULL(l.IsIncludeBalance, lcd.includebalance),
                payoffrequired = ISNULL(l.PayoffRequired, lcd.payoffrequired),
                payoffamount = ISNULL(l.Payoffamount, lcd.payoffamount),
				exclusionreason = ISNULL(l.ExclusionReason, lcd.exclusionreason)
            FROM dbo.loan_customerdebt lcd
                INNER JOIN @p_LiabilityType l
                    ON lcd.debtldid = l.debtldid
                       AND lcd.debtid = l.debtid
					   AND lcd.lenderdatabaseid = @p_LenderDatabaseID
					   AND lcd.loanrecordid = @p_LoanRecordID;

            COMMIT;
        END TRY
        BEGIN CATCH
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRAN;
            END;

            THROW;
        END CATCH;
    END;

END;
